:host ::ng-deep {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 100vh; /* Full viewport height */
  width: 100%;
}

.wrapper {
  background-color: white;
}

.header-test {
  font-size: 1.3em;
  text-align: center;
  width: 100%;
}

.header-2-test {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}

.card-content {
  width: 700px;
  margin-bottom: 1em;
}

.question {
  margin-bottom: 1em;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

@media screen and (max-width: 1000px) {
  .card-content {
    width: 100%;
  }
}
