:host ::ng-deep {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centered-div {
  width: 50%;
  background-color: white;
  border: 1px solid #000;
}

.explanation-label {
  width: 40%;
}

.header-test {
  font-size: 1.3em;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.example-button-row {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

@media screen and (max-width: 1000px) {
  .centered-div {
    width: 90%;
  }
}
