<div class="wrapper p-3">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum excepturi
  dignissimos maiores quae accusantium quisquam, dolorum temporibus labore
  facere nostrum. Quasi, voluptatum debitis? Non asperiores et incidunt. Odit,
  saepe voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Illum excepturi dignissimos maiores quae accusantium quisquam, dolorum
  temporibus labore facere nostrum. Quasi, voluptatum debitis? Non asperiores

  <div class="w-100 button-bar" style="margin-top: 3em">
    <button mat-raised-button color="success" (click)="next()">Продолжи</button>
  </div>
</div>
