<div class="wrapper p-5">
  <div class="timer text-center">
    <b>{{ seconds | time }}</b>
    <br />
    <br />
    <br />

    {{ questionNumber }}/{{ maxQuestions }}
  </div>

  <br />
  <h2 class="question-label text-center">
    Дали бојата на текстот соодветствува на неговото значење?
  </h2>

  <img
    class="picture-question"
    [src]="'./assets/' + activeQuestion.file"
    alt=""
  />

  <div class="button-row">
    <button
      class="button-yes-no"
      mat-flat-button
      (click)="nextQuestion(activeQuestion, true)"
      value="true"
    >
      ДА
    </button>
    <button
      class="button-yes-no"
      mat-flat-button
      (click)="nextQuestion(activeQuestion, false)"
      value="false"
    >
      НЕ
    </button>
  </div>
</div>
